<nav class="navbar navbar-inverse navbar-no-round">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Cemetery Geographic Information System</a>
        </div>
        <div class="nav navbar-nav navbar-right navbar-form">
            <!-- toggleSearch is a  function so when we click we call that function-->
            <button class="btn btn-info" ng-click="toggleSearch()">Αναζήτηση</button>
            <button class="btn btn-info" ng-click="toggleEdit()">Εισαγωγή νεκρού</button>
        </div>
        <div class="navbar-center">
            <span class="color-white">Προβολή θεματικού χάρτη</span>
            <!-- we use ng-change to undestand when we change an option among predefined options in select -->
            <select class="space-left" ng-model="thematicMap" ng-change="changeThematicMap()">
                <option value="CategoryMap">Κατηγορία</option>
                <option value="AvailabilityMap">Διαθεσιμότητα</option>
            </select>
        </div>
    </div>
</nav>
<div id="map" class="map"></div>
<div class="basemap" ng-model="basemap" ng-click="changeBasemap()">
    <img src="images/layer-white.png">
</div>
<div class="zoomExtentIcon">
    <img src="images/home.png">
</div>

<div class="sidebar" ng-show="table !=null && sidebarSearchOpen == false">
    <h4 class="sidebar-details-title">Πληροφορίες Θανόντος</h4>
    <table class="table table-striped" style="width:100%">
        <tr>
            <td class="search-property">Διάδρομος</td>
            <td class="search-results">{{table.properties.diadromos}}</td>
        </tr>
        <tr>
            <td class="search-property">Θέση</td>
            <td class="search-results">{{table.properties.thesi}}</td>
        </tr>
        <tr>
            <td class="search-property">Όνομα</td>
            <td class="search-results">{{table.properties.name}}</td>
        </tr>
        <tr>
            <td class="search-property">Επώνυμο</td>
            <td class="search-results">{{table.properties.surname}}</td>
        </tr>
        <tr>
            <td class="search-property">Πατρώνυμο</td>
            <td class="search-results">{{table.properties.father_name}}</td>
        </tr>
        <tr>
            <td class="search-property">Μητρώνυμο</td>
            <td class="search-results">{{table.properties.mother_name}}</td>
        </tr>
        <tr>
            <td class="search-property">Ημερομηνία Θανάτου</td>
            <td class="search-results">{{table.properties.death_date | date: "dd/MM/yyyy"}}</td>
        </tr>
        <tr>
            <td class="search-property">Τόπος Θανάτου</td>
            <td class="search-results">{{table.properties.death_place}}</td>
        </tr>
        <tr>
            <td class="search-property">Ημερομηνία Γέννησης</td>
            <td class="search-results">{{table.properties.birth_date | date: "dd/MM/yyyy"}}</td>
        </tr>
        <tr>
            <td class="search-property">Ηλικία</td>
            <td class="search-results">
                <span ng-hide="table.properties.age==0">{{table.properties.age}}</span>
            </td>
        </tr>
        <tr>
            <td class="search-property">Κατηγορία τάφου</td>
            <td class="search-results">{{table.properties.category}}</td>
        </tr>
        <tr>
            <td class="search-property">Διαθεσιμότητα</td>
            <td>
                <label>
                    <input type="radio" ng-model="table.properties.availability" name="available-details" value="Ναι"> Ναι</label>
                <label>
                    <input type="radio" ng-model="table.properties.availability" name="available-details" value="Όχι"> Όχι</label>
            </td>
        </tr>
    </table>
    <button class="btn btn-primary margin-left" ng-click="toggleEdit()">Επεξεργασία</button>
    <button class="btn btn-primary margin-left" style="margin-left:10px" ng-click="closeSidebar()">Κλείσιμο</button>
</div>
<!-- show search button when is true (clicked)-->
<div class="sidebar" ng-show="sidebarSearchOpen == true">
    <!-- ng-class="{ 'sidebar-search-right' : (sidebarSearchResultsOpen == true) }"> -->
    <table style="width:95%">
        <tr class="form-group">
            <td class="search-property">Διάδρομος</td>
            <td>
                <input type="text" class="form-control" placeholder="Εισάγετε αριθμό διαδρόμου" ng-model="diadromos">
            </td>
        </tr>
        <tr class="form-group">
            <td class="search-property">Θέση</td>
            <td>
                <input type="text" class="form-control" placeholder="Εισάγετε θέση" ng-model="thesi">
            </td>
        </tr>
        <tr class="form-group">
            <td class="search-property">Όνομα</td>
            <!-- we use ng-model for clients inputs to access properties of the controller - the value is the property of an object instantiated in controller)-->
            <td>
                <input type="text" class="form-control" placeholder="Εισάγετε όνομα" ng-model="name">
            </td>
        </tr>
        <tr class="form-group">
            <td class="search-property">Επώνυμο</td>
            <td>
                <input type="text" class="form-control" placeholder="Εισάγετε επώνυμο" ng-model="surname">
            </td>
        </tr>
        <tr class="form-group">
            <td class="search-property">Κατηγορία</td>
            <td>
                <select class="form-control">
                    <option value="">Επιλέξτε κατηγορία τάφου</option>
                    <option value="category">Προσωρινός κοινός τάφος</option>
                    <option value="category">Οικογενειακός τάφος</option>
                    <option value="category">Θύματα πολέμου</option>
                </select>
            </td>
        </tr>
        <tr class="form-group">
            <td class="search-property">Διαθεσιμότητα</td>
            <td>
                <label>
                    <input type="radio" ng-model="table.properties.availability" name="available-edit" value="Ναι"> Ναι</label>
                <label>
                    <input type="radio" ng-model="table.properties.availability" name="available-edit" value="Όχι"> Όχι</label>
            </td>
        </tr>
    </table>
    <div class="searchError" ng-show="searchError==true">Παρακαλώ εισάγετε τουλάχιστον ένα φίλτρο αναζήτησης</div>
    <button type="submit" class="btn btn-primary" ng-click='searchFilter()'>Αναζήτηση</button>
</div>
<div class="sidebar" ng-show="sidebarSearchResultsOpen == true">
    <h4 class="sidebar-details-title" ng-hide="whenMaponClick== true">Αποτελέσματα Αναζήτησης</h4>
    <h4 class="sidebar-details-title" ng-show="whenMaponClick== true">Λίστα Ενoίκων Θέσης</h4>
    <div ng-show="results.length>0">
        <table class="table table-striped" style="width:100%">
            <tr>
                <td class="search-property text-left">Όνομα</td>
                <td class="search-property text-left">Επώνυμο</td>
                <td class="search-property text-left">Πατρώνυμο</td>
            </tr>
            <tr ng-repeat="r in results" ng-click="showListResults(r)">
                <td class="search-results">{{r.properties.name}} {{r.name}}</td>
                <td class="search-results">{{r.properties.surname}} {{r.surname}}</td>
                <td class="search-results">{{r.properties.father_name}} {{r.father_name}}</td>
            </tr>
        </table>
    </div>
    <button class="btn btn-primary margin-left" ng-click="returntoSearch()" ng-hide="whenMaponClick== true">Επιστροφή στην αναζήτηση</button>
    <button class="btn btn-primary" ng-click="graveHistory()" ng-show="whenMaponClick== true">Ιστορικό τάφου</button>
</div>
<div class="sidebar" ng-show="sidebarHistoryResultsOpen == true">
    <h4 class="sidebar-details-title">Ιστορικό Tάφου</h4>
    <table class="table table-striped" style="width:100%">
        <tr>
            <td class="search-property text-left">Ημερομηνία εισαγωγής</td>
            <td class="search-property text-left">Ημερομηνία εξαγωγής</td>
            <td class="search-property text-left">Επώνυμο</td>
            <td class="search-property text-left">Όνομα</td>
        </tr>
        <tr ng-repeat="r in historyResults" ng-click="showListResults(r)">
            <td class="search-results">{{r.entry_date | date: "dd/MM/yyyy"}}</td>
            <td class="search-results">{{r.exit_date | date: "dd/MM/yyyy"}}</td>
            <td class="search-results">{{r.surname}}</td>
            <td class="search-results">{{r.name}}</td>
        </tr>
    </table>
    <button class="btn btn-primary" ng-click="closeHistoryResultsSidebar()">Επιστροφή</button>
</div>

<div class="sidebar" ng-show="sidebarEditOpen == true || sidebarInsertOpen == true">
    <h4 class="sidebar-details-title">Στοιχεία επεξεργασίας</h4>
    <b ng-show="table == null">Παρακαλώ επιλέξτε τον τάφο εισαγωγής του νεκρού</b>
    <form>
        <table class="table table-striped" style="width:100%">
            <tr>
                <td class="search-property">Διάδρομος</td>
                <td class="search-results">
                    <input type="text" placeholder="Εισάγετε αριθμό διαδρόμου" ng-model="table.properties.diadromos">
                </td>
            </tr>
            <tr>
                <td class="search-property">Θέση</td>
                <td class="search-results">
                    <input type="text" placeholder="Εισάγετε θέση" ng-model="table.properties.thesi">
                </td>
            </tr>
            <tr>
                <td class="search-property">Όνομα</td>
                <td class="search-results">
                    <input type="text" placeholder="Εισάγετε όνομα" ng-model="table.properties.name">
                </td>
            </tr>
            <tr>
                <td class="search-property">Επώνυμο</td>
                <td class="search-results">
                    <input type="text" placeholder="Εισάγετε επώνυμο" ng-model="table.properties.surname">
                </td>
            </tr>
            <tr>
                <td class="search-property">Πατρώνυμο</td>
                <td class="search-results">
                    <input type="text" placeholder="Εισάγετε πατρώνυμο" ng-model="table.properties.father_name">
                </td>
            </tr>
            <tr>
                <td class="search-property">Μητρώνυμο</td>
                <td class="search-results">
                    <input type="text" placeholder="Εισάγετε μητρώνυμο" ng-model="table.properties.mother_name">
                </td>
            </tr>
            <tr>
                <td class="search-property">Ημερομηνία Θανάτου</td>
                <td class="search-results">
                    <input type="text" placeholder="Εισάγετε ημερομηνία θανάτου" ng-model="table.properties.death_date">
                </td>
            </tr>
            <tr>
                <td class="search-property">Τόπος Θανάτου</td>
                <td class="search-results">
                    <input type="text" placeholder="Εισάγετε τόπο θανάτου" ng-model="table.properties.death_place">
                </td>
            </tr>
            <tr>
                <td class="search-property">Ημερομηνία Γέννησης</td>
                <td class="search-results">
                    <p class="input-group">
                        <input type="text" placeholder="Εισάγετε ημερομηνία γέννησης" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="table.properties.birth_date"
                            is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    <!-- <input type="text" placeholder="Εισάγετε ημερομηνία γέννησης" ng-model="table.properties.birth_date"> -->
                </td>
            </tr>
            <tr>
                <td class="search-property">Ηλικία</td>
                <td class="search-results">
                    <input type="text" placeholder="Εισάγετε ηλικία" ng-model="table.properties.age">
                </td>
            </tr>
            <tr>
                <td class="search-property">Κατηγορία τάφου</td>
                <td class="search-results">
                    <select ng-model="table.properties.category">
                        <option>Επιλέξτε κατηγορία τάφου</option>
                        <option value="Προσωρινός κοινός τάφος">Προσωρινός κοινός τάφος</option>
                        <option value="Οικογενειακός τάφος">Οικογενειακός τάφος</option>
                        <option value="Θύματα πολέμου">Θύματα πολέμου</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="search-property">Διαθεσιμότητα</td>
                <td class="search-results">
                    <!-- το value στο radio αντιστοιχεί στην τιμή του row στον πίνακα - attribute table of shapefile -->
                    <label>
                        <input type="radio" ng-model="table.properties.availability" name="available" value="Ναι"> Ναι</label>
                    <label>
                        <input type="radio" ng-model="table.properties.availability" name="available" value="Όχι"> Όχι</label>
                </td>
            </tr>
        </table>
        <!-- <button class="btn btn-primary margin-left" ng-click="insertFeatures('insert',table)" ng-show="sidebarInsertOpen == true">Αποθήκευση</button> -->
        <button type="submit" class="btn btn-primary margin-left" ng-click="editFeatures('update',table)">Αποθήκευση</button>
        <button class="btn btn-primary margin-left" style="margin-left:10px" ng-click="closeEditSidebar()">Κλείσιμο</button>
    </form>
</div>
<!-- ng-class: set/append as class the left part of : ONLY IF the right part of : is true -->
<div class="legend" ng-class="{ 'legend-right' : ( table != null  || sidebarEditOpen == true || sidebarSearchOpen == true || sidebarSearchResultsOpen == true || sidebarInsertOpen == true) }"
    ng-hide="thematicMap == 'AvailabilityMap'">
    <h4 class="legend-title">Κατηγορία Τάφων</h4>
    <img src="geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=50&HEIGHT=30&LAYER=graves">
</div>
<div class="legend" ng-class="{ 'legend-right' : ( table != null  || sidebarEditOpen == true || sidebarSearchOpen == true || sidebarSearchResultsOpen == true || sidebarInsertOpen == true) }"
    ng-show="thematicMap == 'AvailabilityMap'">
    <h4 class="legend-title">Διαθεσιμότητα</h4>
    <img src="geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=50&HEIGHT=30&LAYER=graves2">
</div>

<!-- html for the controller -ModalDemoCtrl- from Bootstrap Angular Ui -->
<div ng-controller="HomeCtrl as $ctrl" class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
                <h5 class="modal-title" >{{title}}</h5>
            </div>
        <div class="modal-body" id="modal-body">
                <p>{{message}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Κλείσιμο</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>
    </script>
</div>

<!-- html for the controller -DatepickerPopupDemoCtrl- from Bootstrap Angular Ui -->
<style>
    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }

    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }
</style>